{% extends "eatatdcu/template.html" %}
{% block content %}
 <div class="container">
  <img class="home" src="static/img/dcureal.gif" alt="DCU homepage" style="width:100%; height:85%" >
  <div class="centered"><h1> EAT at DCU</h4></h1>
  <form action="{% url 'eatatdcu:restaurants'  %}" method="get">
  <select name="campus">
  <option value="glasnevin">Glasnevin</option>
  <option value="st pats">St. Pats</option>
  <option value="all hallows">All Hallows</option>
  <option value="dcu alpha">DCU Alpha</option>
  <input type="checkbox"  name="staff_only" /> <font color="black"><b>Staff only</b></font><br>
  <input type="checkbox"  name="weekend" /><font color="black"><b>Open on weekends</b></font><br>
  <input class="button button1" type="submit" value = "Find">
  </form>
 
{% endblock %}
		
