{% extends "eatatdcu/template.html" %}


{% block content %}
{% load staticfiles %} 


<h2>Restaurants </h2>
	{% if request.get_full_path == "/restaurants?campus=glasnevin&staff_only=on&weekend=on" or request.get_full_path == "/restaurants?campus=st+pats&staff_only=on&weekend=on" %}
	<p>No restaurants found </p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=st+pats&weekend=on" %}
	<p>No restaurants found </p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=st+pats&staff_only=on" %}
	<p>No restaurants found </p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=glasnevin&weekend=on" %}
	<p>No restaurants found </p>
	{% else %} 
	{% if restaurants.count == 0 %}
	<p> No restaurants found </p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=glasnevin&staff_only=on" %}
		{% for r in restaurants %}
			{% if r.is_staff_only %}
				 <p><b>{{ r.name}}</b> located in <b>{{r.location}} </b> {% if r.is_staff_only %} (staff only!) {% endif %}</p>
				 <p>{% if r.avg_rating == 0%}</p>
		         <p> No rating yet <img class="ratings" src="static/img/ratings/{{r.avg_rating}}" alt="{{r.avg_rating}}"> {%else%}</p>
		         <p>{{r.avg_rating}} rating out of {{r.max_rating}} {% endif %} </p>
		         <p><a href="{% url 'eatatdcu:specials' restaurant=r.name %}" class="button">Click here to view todays Special</a></p>
	             <img class="location" src="static/img/maps/{{r.name}}" alt="{{r.name}}">
	             <ul>
                 <li><strong>Opening hours:</strong> Monday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Tuesday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Wednesday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Thursday:  {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Friday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
	             <li><font color="red">Saturday: closed</font></li>
	             <li><font color="red">Sunday: closed </font> </li><br>	
		         </ul>
		    {% endif %}
		{% endfor %}
	{% else %}
		{% if restaurants %}
			{% for r in restaurants %}
		         <p><b>{{ r.name}}</b> located in <b>{{r.location}} </b> {% if r.is_staff_only %} (staff only!) {% endif %}</p>
		         <p>{% if r.avg_rating == 0%}</p>
		         <p> No rating yet <img class="ratings" src="static/img/ratings/{{r.avg_rating}}" alt="{{r.avg_rating}}"> {%else%}</p>
		         <p>{{r.avg_rating}} rating out of {{r.max_rating}} <img class="ratings" src="static/img/ratings/{{r.avg_rating}}" alt="{{r.avg_rating}}"> {% endif %} </p>
		         <p><a href="{% url 'eatatdcu:specials' restaurant=r.name %}" class="button">Click here to view todays Special</a></p>
	             <img class="location" src="static/img/maps/{{r.name}}" alt="{{r.name}}">
	             <ul>
                 <li><strong>Opening hours:</strong> Monday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <div class="openingtimes">
                 <li>Tuesday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Wednesday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Thursday:  {{ r.opening_hours }}  - {{r.closing_hours}}</li>
                 <li>Friday: {{ r.opening_hours }}  - {{r.closing_hours}}</li>
	             <li> <font color="red"> Saturday: closed </font> </li>
	             <li> <font color="red">Sunday: closed</font></li>
	             </div>	
		         </ul>
			{% endfor %}
		{% endif%}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	
<h2>Cafes </h2>
    {% if request.get_full_path == "/restaurants?campus=dcu+alpha&staff_only=on&weekend=on" %}
    <p>No cafes found</p>
    {% else %}
	{% if request.get_full_path == "/restaurants?campus=glasnevin&staff_only=on&weekend=on" or request.get_full_path == "/restaurants?campus=st+pats&staff_only=on&weekend=on" %}
	<p>No cafes found</p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=dcu+alpha&weekend=on" %}
	<p>No cafes found</p>
	{% else %}
    {% if request.get_full_path == "/restaurants?campus=dcu+alpha&staff_only=on" %}
	<p>No cafes found</p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=st+pats&staff_only=on" %}
	<p>No cafes found</p>
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=glasnevin&weekend=on" %}
		{% if cafes %}
			{% for c in cafes %}
				{% if c.is_open_wknd %}  
					<p>Name: <b>{{ c.name}}</b> located in <b>{{c.location}}</b> {% if c.is_staff_only %} (staff only!) {% endif %}              
					<p>{% if c.avg_rating == 0%}</p>
					<p> No rating yet <img class="ratings" src="static/img/ratings/{{c.avg_rating}}" alt="{{c.avg_rating}}"> {%else%}</p>
					<p>{{c.avg_rating}} rating out of {{c.max_rating}} <img class="ratings" src="static/img/ratings/{{c.avg_rating}}" alt="{{c.avg_rating}}"> {% endif %} </p>
					<img class="location" src="static/img/maps/{{c.name}}" alt="{{c.name}}">
					<ul>
					<li><strong>Opening hours:</strong> Monday {{ c.opening_hours }} - {{ c.closing_hours}}</li>
					<div class="openingtimes">
					<li>Tuesday {{ c.opening_hours }} - {{ c.closing_hours}}</li> 
					<li>Wednesday {{ c.opening_hours }} - {{ c.closing_hours}}</li>
					<li>Thursday {{ c.opening_hours }} - {{ c.closing_hours}}</li>
					<li>Friday {{ c.opening_hours }} - {{ c.closing_hours}}</li>   
					<li>{%if c.is_open_wknd %} Saturday: {{c.opening_hours_wknd}} - {{c.closing_hours_wknd}}</li>
					<li>Sunday: {{c.opening_hours_wknd}} - {{c.closing_hours_wknd}}</li>
					<li>{%else%} Saturday: closed</li>
					<li> Sunday: closed  {% endif  %}</li>
					</div>
					</ul>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% else %}
	{% if request.get_full_path == "/restaurants?campus=glasnevin&staff_only=on" %}
			<p>No cafes found</p>
	{% else %}
	{% if cafes.count == 0 %}
		<p> No cafes found </p>
	{% else %}
		{% if request.get_full_path == "/restaurants?campus=st+pats&weekend=on" %}
			{% for c in cafes %}
		<p>No cafes found</p>
		    {% endfor %}
		{% else %}
			{% if cafes %}
				{% for c in cafes %}
					<p><b>{{ c.name}}</b> located in <b>{{c.location}} </b> {% if r.is_staff_only %} (staff only!) {% endif %}</p>
					<p>{% if c.avg_rating == 0%}</p>
		            <p> No rating yet <img class="ratings" src="static/img/ratings/{{c.avg_rating}}" alt="{{c.avg_rating}}"> {%else%}</p>
		            <p>{{c.avg_rating}} rating out of {{c.max_rating}} <img class="ratings" src="static/img/ratings/{{c.avg_rating}}" alt="{{c.avg_rating}}"> {% endif %} </p>
					<img class="location" src="static/img/maps/{{c.name}}" alt="{{c.name}}">
					<ul>
					<li><strong>Opening hours:</strong> Monday {{ c.opening_hours }} - {{ c.closing_hours}}</li>
					<div class="openingtimes">
					<li>Tuesday {{ c.opening_hours }} - {{ c.closing_hours}}</li> 
					<li>Wednesday {{ c.opening_hours }} - {{ c.closing_hours}}</li>
					<li>Thursday {{ c.opening_hours }} - {{ c.closing_hours}}</li>
					<li>Friday {{ c.opening_hours }} - {{ c.closing_hours}}</li>   
					<li>{%if c.is_open_wknd %} Saturday: {{c.opening_hours_wknd}} - {{c.closing_hours_wknd}}</li>
					<li>Sunday: {{c.opening_hours_wknd}} - {{c.closing_hours_wknd}}</li>
					<li>{%else%}<font color="red"> Saturday: closed</font> </li>
					<li><font color="red">Sunday: closed  </font>{% endif  %}</li>
					</div>
					</ul>
				{% endfor %}
		{% endif %}
		{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
{% endblock %}
